body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    background-color:#444;
    color: #fff
}

a {
    text-decoration: none;
}

#sortable {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
    margin-top:35px;
}

.grid-item {
    border: 1px solid #ccc;
    text-align: left;
    display: block;
    width: 100%;
    min-height: 100px;
    max-height: 300px;
    overflow: auto;
}

.grid-item header {
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

#game-npc-table {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
}

.game-npc-item {
    border: 1px solid #ccc;
    text-align: left;
    display: block;
    width: 100%;
    min-height: 100px;
}

.grid-body {
    position: relative;
}

header {
    background-color: #333;
    color: #fff;
    padding: 0px;
    margin: 0px;
    text-align:center;
}

h1 {
    font-size: 1em;
    margin: 0px;
    padding: 0px;
}

#chatbox, #notes {
    width: calc(100% - 10px);
    height: 200px;
    border: 1px solid black;
    overflow: auto;
    margin-bottom: 10px;
    background-color: #fff;
    color: #000;
    font-size: 0.9em;
    padding-left: 5px;
}

#question {
    width: calc(100% - 60px);
    margin-bottom: 10px;
}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active, .collapsible:hover {
    background-color: #555;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    color: #000;
}

div.chatmessage.bot {
    background-color: #eee;
    color: #000;
    border-bottom: 1px solid #ccc;
    padding: 3px;
}

input[type=range] {
    vertical-align: middle;
}

input[type=submit] {
    vertical-align: middle;
    width: 40px;
    margin: 0px;
    padding: 0px;
}

#save_notes {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#notes_most_recent, #previous_notes_list, #names, #game_names, div.npc_image, div#plot_points, div#reminder_list {
    min-height: 50px;
    border: 1px solid black;
    overflow: auto;
    margin: 10px;
    background-color: #ccc;
    color: #000;
    font-size: 0.9em;
    padding-left: 5px;
}

#previous_notes_list div.date-focused {
    border: 1px solid white;
    border-radius: 10px;
    background-color: #000;
    color:cornflowerblue;
    padding: 5px;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: calc(100% - 25px);
    height: 80px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 90%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #444;
    margin: auto;
    padding: 20Wpx;
    border: 1px solid #888;
    width: 80%;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2), 0, 6px 20px rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

.modal-header {
    padding: 2px 16px;
    background-color: #333;
    color: #fff;
}

.modal-body {
    padding: 2px 16px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #333;
    color: #fff;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.npc_details {
    width: 50%;
    float: left;
}

.npc_summary {
    width: 45%;
    float: right;
    border: 1px solid #ccc;
    padding: 15px 5px 5px 5px;
    position: relative;
}

div.regen {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 0.5em;
    color: #ccc;
    width: 15px;
    height: 15px;
    background-image: url(/static/img/arrow-rotate-right-solid.svg);
    background-size: contain;
}

img.regen {
    width: 15px;
    height: 15px;
    cursor: pointer;
}

img.regen.spin {
    animation: spin 2s linear infinite;

}

tr.npc:hover {
    background-color: #333;
}

tr.npc td {
    background-color: transparent;
}

button#add_npc {
    position: absolute;
    top: 2px;
    right: 10px;
}

table#table_names td.center {
    text-align: center;
}

div.npc_image {
    width: 512px;
    height: 512px;
    float: right;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    text-align: center;
}

img.npc_image {
    width: 512px;
    height: 512px;
}

span.chat_name {
    position: relative;
    display: inline-block;
    text-decoration: underline;
}

div.chat_options {
    /* Show below the container */
    position: absolute;
    display: none;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.5);
    padding: 6px 8px;
    z-index: 1;
    top: 20px;
    left: 0px;
    font-size: 0.8em;
}

div.chat_option {
    color: black;
    display: block;
    cursor: pointer;
}

nav#toolbar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 30px;
    background-color: #333;
    color: #fff;
    z-index: 1;
    padding-left: 10px;
}

.nav-button {
    display: inline-flex;
    width: 20px;
    height: 20px;
    margin: 5px;
    border: 1px solid #fff;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.nav-button:hover {
    background-color: blueviolet;
    color: #333;
}

.nav-button.active {
    background-color: blueviolet;
    color: #333;
}

nav#toolbar span a {
    color: #fff;
    text-decoration: none;
}

input#plot_point_title, input#reminder_title, input#reminder_trigger {
    width: 500px;
}

textarea#plot_point_summary, textarea#reminder_details {
    width: 500px;
    height: 150px;
}

div.plot_point {
    border: 1px solid #000;
    padding: 5px;
    margin: 5px;
    background-color: #fff;
    color: #000;
    font-size: 0.9em;
    width: 100px;
    height: 20px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
}

div.plot_point .plot_point_hover {
    background-color: blueviolet;
}

div.reminder {
    position: relative;
    border: 1px solid #000;
    padding: 0px;
    margin: 2px;
    padding-bottom: 3px;
    background-color: #fff;
    color: #000;
    font-size: 0.9em;
    width: 200px;
    height: 15px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
}

div.reminder_delete {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 15px;
    height: 15px;
    background-image: url(/static/img/times-solid.svg);
    background-size: contain;
    cursor: pointer;
}