{% extends "base.html" %}
{% block title %}Create Account{% endblock %}
{% block body %}
    <main id="loginscreen">
        <header id="login-title">
            <h1>DM Screen</h1>
        </header>
        <div id="login" class="panel">
            <form method="POST" action="/createaccount_2">
                <h2>Create Account</h2>
                <div class="container">
                    <div class="login-row">
                        <label for="email"><b>Email</b></label>
                        <input type="email" placeholder="Enter Email Address" id="email" name="email" required>
                    </div>
                    <div class="login-row">
                        <label for="psw1"><b>Password</b></label>
                        <input type="password" placeholder="Enter Password" id="psw1" name="psw1" required>
                    </div>
                    <div class="login-row">
                        <label for="psw2"><b>Password</b></label>
                        <input type="password" placeholder="Enter Password" id="psw2" name="psw2" required>
                    </div>
                    <div class="login-row"><div></div><button type="submit">Create Account</button></div>
                </div>
            </form>
        </div>
    </main>
{% endblock %}