{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
    <script src="https://js.stripe.com/v3"></script>
    <script type="text/javascript">
        const todays_date = "{{ todays_date }}";
    </script>
{% endblock %}
{% block body %}
    <nav id="toolbar">
        <span class="logout"><a href="/">Logout</a></span>
        <span class="account"><a href="javascript:show_account()"><img src="/static/img/icons/account.png" height="25" style="margin-top:2px" title="Account"/></a></span>
        <select title="Game" id="game" name="game">
            <option value="" style="text-align: center;">--Choose a Game--</option>"
        </select>
        <!--Horizontal toolbar with icons to show/hide the grid-items -->
        <span class="nav-button active" title="Chat Bot""><a href="#" onclick="toggle_visibility('chatbot')"><i class="fa fa-comment"></i></a></span>
        <span class="nav-button active" title="Game Notes"><a href="#" onclick="toggle_visibility(['game_notes', 'previous_notes'])"><i class="fa fa-book"></i></a></span>
        <span class="nav-button active" title="Reminders"><a href="#" onclick="toggle_visibility('reminders')"><i class="fa fa-lightbulb-o"></i></a></span>
        <span class="nav-button active" title="NPCs"><a href="#" onclick="toggle_visibility('npcs')"><i class="fa fa-users"></i></a></span>
        <span class="nav-button active" title="Audio"><a href="#" onclick="toggle_visibility('audio')"><img src="/static/img/headphones-solid.png" /></a></span>
    </nav>
    <div id="sortable">
        <div id="chatbot" class="grid-item" style="display: block;">
            <header>
                <h1>Chat Bot</h1>
            </header>
            <content>
                <div id="chatbox"></div>
                <form id="chat-form">
                    <input type="text" name="question" id="question" placeholder="Ask something..." required>
                    <input type="submit" value="Ask">
                </form>
            </content>
        </div>
        <div id="game_notes" class="grid-item" style="display: block;">
            <header>
                <h1>Game Notes</h1>
            </header>
            <div style="display:relative">
                <label>Date:</label>
                <span>{{todays_date}}</span>
            </div>
            <div>
                <textarea id="notes" name="notes" disabled></textarea>
            </div>
            <input id="save_notes" type="submit" value="Save" disabled>
        </div>
        <div id="previous_notes" class="grid-item" style="display: block;">
            <header>
                <h1>Previous Notes</h1>
            </header>
            <div id="notes_most_recent">
                <div style="text-align:center">Select a project to get started</div>
            </div>
            <div id="previous_notes_list">
                <div style="text-align:center">Select a project to get started</div>
            </div>
        </div>
        <div id="reminders" class="grid-item" style="display: block;">
            <header>
                <h1>Reminders</h1>
            </header>
            <div class="grid-body">
                <div style="position: relative; height: 17px;">
                    <button id="add_reminder" onclick="create_reminder()" disabled>+ Add Reminder</button>
                </div>
                <div id="reminder_list"><center>Select a project to get started</center></div>
            </div>
        </div>
        <div id="npcs" class="grid-item" style="display: block;">
            <header>
                <h1>NPCs</h1>
            </header>
            <div class="grid-body">
                <div id="game_names"><center>Select a project to get started</center></div>
                <div style="position: relative; height: 17px;">
                    <button id="add_npc" onclick="create_npc()" disabled>+ Add NPC</button>
                </div>
                <div id="names"><center>Select a project to get started</center></div>
            </div>
        </div>
        <div id="audio" class="grid-item" style="display: block;">
            <header>
                <h1>Audio</h1>
            </header>
            <div class="grid-body">
                <div id="audio_status"><center>Select a project to get started</center></div>
            </div>
        </div>
    </div>
<script type="text/javascript">
    const membership_level = "{{membership}}";
    const userid = "{{userid}}"
    // eslint-disable-next-line no-redeclare
    const game_list = {{ game_list | tojson }};
    let game_select = document.getElementById("game");
    game_list.forEach(function(game) {
        let option = document.createElement("option");
        option.text = game.name;
        option.value = game.id;
        game_select.add(option);
    });
    let option_new = document.createElement("option");
    option_new.text = "-- Create a new Game --";
    option_new.value = "0";
    game_select.add(option_new);

    const subscriptions = [
        {
            header: 'Free',
            price: 'Free',
            priceId: '__free',
            features: [
                '50 Chat Messages per Month',
                '5 NPCs',
                '1 Campaign',
                'Unlimited Session Notes',
                'Unlimited Reminders'
            ]
        },
        {
            header: 'Basic',
            price: '$10/month',
            priceId: '{{stripe_priceId_10}}',
            features: [
                '500 Chat Messages per Month',
                '50 NPCs',
                '3 Campaigns',
                'Unlimited Session Notes',
                'Unlimited Reminders',
                'AI Note Taking from MP3 (1/Week)'
            ]
        },
    ];
    const stripe_publishable_key = "{{stripe_publishable_key}}";

    // get sub from paramaters
    const urlParams = new URLSearchParams(window.location.search);
    const sub = urlParams.get('sub');
    if (sub=='success') {
        alert('Thank you for subscribing!');
    }
</script>
{% endblock %}