<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <nav id="toolbar">
        <select id="game" name="game">
            <option value="" style="text-align: center;">--Choose a Game--</option>"
            <option value="dotmm">Dungeon of the Mad Mage</option>
            <option value="tod">Tyranny of Dragons</option>
            <option value="spelljammer">Spelljammer</option>
            <option value="dotn">Dawn of the Necromancer</option>
            <option value="aielsland">Aielsland</option>
            <option value="dorr">Dawn of Rock and Roll</option>
        </select>
<!--Horizontal toolbar with icons to show/hide the grid-items -->
        <span class="nav-button active" title="Chat Bot""><a href="#" onclick="toggle_visibility('chatbot')"><i class="fa fa-comment"></i></a></span>
        <span class="nav-button active" title="Game Notes"><a href="#" onclick="toggle_visibility('game_notes')"><i class="fa fa-book"></i></a></span>
        <span class="nav-button active" title="Reminders"><a href="#" onclick="toggle_visibility('reminders')"><i class="fa fa-lightbulb-o"></i></a></span>
        <span class="nav-button active" title="Story Board"><a href="#" onclick="toggle_visibility('story_board')"><i class="fa-solid fa-book-atlas"></i></a></span>
        <span class="nav-button active" title="NPCs"><a href="#" onclick="toggle_visibility('npcs')"><i class="fa fa-users"></i></a></span>
        <span class="nav-button active" title="Locations"><a href="#" onclick="toggle_visibility('locations')"><i class="fa fa-map-marker"></i></a></span>
        <span class="nav-button active" title="Random Everything"><a href="#" onclick="toggle_visibility('random_everything')"><i class="fa fa-random"></i></a></span>
        <span class="nav-button active" title="Todo"><a href="#" onclick="toggle_visibility('todo')"><i class="fa fa-list"></i></a></span>
        <span class="nav-button active" title="Players"><a href="#" onclick="toggle_visibility('players')"><i class="fa fa-user"></i></a></span>
    </nav>
    <div id="sortable">
        <div id="chatbot" class="grid-item">
            <header>
                <h1>Chat Bot</h1>
            </header>
            <content>
                <div id="chatbox"></div>
                <form id="chat-form">
                    <input type="text" name="question" id="question" placeholder="Ask something..." required>
                    <input type="submit" value="Ask">
                    <!-- add a temperature slider that goes from 0.0 to 1.0 -->
                    <br/>Temperature: <input type="range" id="temp" name="temp" min="0.0" max="1.0" step="0.1" value="0.5">
            
                    <!-- add checkboxes to select which books to use in the search -->
                    <button type="button" class="collapsible">Modules</button>
                    <div class="content">
                        <button type="button" class="collapsible">Core</button>
                        <div class="content">
                            <input type="checkbox" name="Core" id="Core" value="true"> All<br/>
                            <input type="checkbox" name="Player's Handbook" id="PlayersHandbook" value="true"> Player's Handbook<br>
                            <input type="checkbox" name="Dungeons Masters Guide" id="DungeonMastersGuide" value="true"> Dungeon Master's Guide<br>
                            <input type="checkbox" name="Monster Manual" id="MonsterManual" value="true"> Monster Manual<br>
                        </div>
                        <button type="button" class="collapsible">Adventures</button>
                        <div class="content">
                            <input type="checkbox" name="Adventures" id="Adventures" value="true"> All<br/>
                            <input type="checkbox" name="Lost Mines of Phandelver" id="lmop" value="true"> Lost Mines of Phandelver<br>
                            <input type="checkbox" name="Hoard of the Dragon Queen" id="hotdq" value="true"> Hoard of the Dragon Queen<br>
                            <input type="checkbox" name="Rise of Tiamat" id="rot" value="true"> Rise of Tiamat<br>
                            <input type="checkbox" name="Princes of the Apocalypse" id="pota" value="true"> Princes of the Apocalypse<br>
                            <input type="checkbox" name="Out of the Abyss" id="oota" value="true"> Out of the Abyss<br>
                            <input type="checkbox" name="Curse of Strahd" id="cos" value="true"> Curse of Strahd<br>
                            <input type="checkbox" name="Storm King's Thunder" id="skt" value="true"> Storm King's Thunder<br>
                            <input type="checkbox" name="Tales from the Yawning Portal" id="tftyp" value="true"> Tales from the Yawning Portal<br>
                            <input type="checkbox" name="Tomb of Annihilation" id="toa" value="true"> Tomb of Annihilation<br>
                            <input type="checkbox" name="Waterdeep: Dragon Heist" id="wdh" value="true"> Waterdeep: Dragon Heist<br>
                            <input type="checkbox" name="Waterdeep: Dungeon of the Mad Mage" id="wdotmm" value="true"> Waterdeep: Dungeon of the Mad Mage<br>
                            <input type="checkbox" name="Ghosts of Saltmarsh" id="gos" value="true"> Ghosts of Saltmarsh<br>
                            <input type="checkbox" name="Baldur's Gate: Descent into Avernus" id="bgdia" value="true"> Baldur's Gate: Descent into Avernus<br>
                            <input type="checkbox" name="Icewind Dale: Rime of the Frostmaiden" id="idrotf" value="true"> Icewind Dale: Rime of the Frostmaiden<br>
                            <input type="checkbox" name="Candlekeep Mysteries" id="cm" value="true"> Candlekeep Mysteries<br>
                            <input type="checkbox" name="The Wild Beyond the Witchlight" id="twbtw" value="true"> The Wild Beyond the Witchlight<br>
                            <input type="checkbox" name="Rrakkma" id="rrakkma" value="true"> Rrakkma<br>
                            <input type="checkbox" name="Lost Laboratory of Kwalish" id="llok" value="true"> Lost Laboratory of Kwalish<br>
                            <input type="checkbox" name="Hunt for the Thessalhydra" id="hftr" value="true"> Hunt for the Thessalhydra<br>
                            <input type="checkbox" name="Dragon of Icespire Peak" id="doip" value="true"> Dragon of Icespire Peak<br>
                            <input type="checkbox" name="Storm Lord's Wrath" id="slw"  value="true"> Storm Lord's Wrath<br>
                            <input type="checkbox" name="Sleeping Dragon's Wake" id="sdw" value="true"> Sleeping Dragon's Wake<br>
                            <input type="checkbox" name="Divine Contention" id="dc" value="true"> Divine Contention<br>
                            <input type="checkbox" name="Infernal Machine Rebuild" id="imr" value="true"> Infernal Machine Rebuild<br>
                            <input type="checkbox" name="Frozen Sick" id="fs" value="true"> Frozen Sick<br>
                            <input type="checkbox" name="Call of the Netherdeep" id="cotn" value="true"> Call of the Netherdeep<br>
                            <input type="checkbox" name="The Radiant Citadel" id="trc" value="true"> The Radiant Citadel<br>
                            <input type="checkbox" name="Journeys Through the Radiant Citadel" id="jttrc" value="true"> Journeys Through the Radiant Citadel<br>
                            <input type="checkbox" name="Spelljammer Academy" id="sa" value="true"> Spelljammer Academy<br>
                            <input type="checkbox" name="Dragons of Stormwreck Isle" id="dosi" value="true"> Dragons of Stormwreck Isle<br>
                            <input type="checkbox" name="Dragonlance: Shadow of the Dragon Queen" id="dsotdq" value="true"> Dragonlance: Shadow of the Dragon Queen<br>
                            <input type="checkbox" name="Prisoner 13" id="p13" value="true"> Prisoner 13<br>
                            <input type="checkbox" name="Keys from the Golden Vault" id="kftgv" value="true"> Keys from the Golden Vault<br>
                            </div>
                        <button type="button" class="collapsible">Supplements</button>
                        <div class="content">
                            <input type="checkbox" name="Supplements" id="Supplements" value="true"> All<br/>
                            <input type="checkbox" name="Volo's Guide to Monsters" id="vgm" value="true"> Volo's Guide to Monsters<br>
                            <input type="checkbox" name="Mordenkainen's Tome of Foes" id="mtf" value="true"> Mordenkainen's Tome of Foes<br>
                            <input type="checkbox" name="Xanathar's Guide to Everything" id="xge" value="true"> Xanathar's Guide to Everything<br>
                            <input type="checkbox" name="Guildmaster's Guide to Ravnica" id="ggtr" value="true"> Guildmaster's Guide to Ravnica<br>
                            <input type="checkbox" name="Eberron: Rising from the Last War" id="erftlw" value="true"> Eberron: Rising from the Last War<br>
                            <input type="checkbox" name="Explorer's Guide to Wildemount" id="egtw" value="true"> Explorer's Guide to Wildemount<br>
                            <input type="checkbox" name="Mythic Odysseys of Theros" id="mot" value="true"> Mythic Odysseys of Theros<br>
                            <input type="checkbox" name="Tasha's Cauldron of Everything" id="tce" value="true"> Tasha's Cauldron of Everything<br>
                            <input type="checkbox" name="Van Richten's Guide to Ravenloft" id="vrgr" value="true"> Van Richten's Guide to Ravenloft<br>
                            <input type="checkbox" name="Fizban's Treasury of Dragons" id="ftd" value="true"> Fizban's Treasury of Dragons<br>
                            <input type="checkbox" name="Spelljammer: Light of Xaryxis" id="slox" value="true"> Spelljammer: Light of Xaryxis<br>
                            <input type="checkbox" name="Spelljammer: Boo's Astral Menagrie" id="sbaa" value="true"> Spelljammer: Boo's Astral Menagerie<br>
                            <input type="checkbox" name="Spelljammer: Astral Adventurer's Guide" id="saag" value="true"> Spelljammer: Astral Adventurer's Guide<br>
                            <input type="checkbox" name="Mordenkainen Presents: Monsters of the Multiverse" id="mpmotm" value="true"> Mordenkainen Presents: Monsters of the Multiverse<br>
                            <input type="checkbox" name="Sword Coast Adventurer's Guide" id="scag" value="true"> Sword Coast Adventurer's Guide<br>
                            <input type="checkbox" name="The Tortle Package" id="ttp" value="true"> The Tortle Package<br>
                            <input type="checkbox" name="One Grung Above" id="oga" value="true"> One Grung Above<br>
                            <input type="checkbox" name="Wayfinder's Guide to Eberron" id="wgte" value="true"> Wayfinder's Guide to Eberron<br>
                            <input type="checkbox" name="Acquisitions Incorporated" id="ai" value="true"> Acquisitions Incorporated<br>
                            <input type="checkbox" name="Locathah Rising" id="lr" value="true"> Locathah Rising<br>
                            <input type="checkbox" name="Mordenkainen's Fiendish Folio Volume 1" id="mffv1" value="true"> Mordenkainen's Fiendish Folio Volume 1<br>
                            <input type="checkbox" name="Strixhaven: A Curriculum of Chaos" id="saccoc" value="true"> Strixhaven: A Curriculum of Chaos<br>
                            <input type="checkbox" name="Monstrous Compendium Annual Volume 1" id="mcav1" value="true"> Monstrous Compendium Annual Volume 1<br>
                            <input type="checkbox" name="The Vecna Dossier" id="tvd" value="true"> The Vecna Dossier<br>
                            <input type="checkbox" name="Monstrous Compendium Annual Volume 2" id="mcav2" value="true"> Monstrous Compendium Annual Volume 2<br>
                            <input type="checkbox" name="Thieve's Gallery" id="tg" value="true"> Thieve's Gallery<br>
                            <input type="checkbox" name="Legendary Magic Items" id="lmi" value="true"> Legendary Magic Items<br>
                            <input type="checkbox" name="Misplaced Monsters" id="misplaced" value="true"> Misplaced Monsters<br>
                        </div>
                        <button type="button" class="collapsible">3rd Party</button>
                        <div class="content">
                            <input type="checkbox" name="3rd Party" id="3rdParty" value="true"> All<br/>
                            <input type="checkbox" name="Dawn of the Necromancer" id="dotn" value="true"> Dawn of the Necromancer<br>
                            <input type="checkbox" name="Odyssey of the Dragonlords" id="ootd" value="true"> Oddysey of the Dragonlords<br>
                            <input type="checkbox" name="Raiders of the Serpent Sea" id="ross" value="true"> Raiders of the Serpent Sea<br>
                            <input type="checkbox" name="Beyond Damage Dice" id="bdd" value="true"> Beyond Damage Dice<br>
                            <input type="checkbox" name="Homefield Advantage: A Compendium of Lair Actions" id="hfa" value="true"> Home-field Advantage: A Compendium of Lair Actions<br>
                            <input type="checkbox" name="Sandy Petersen's Cthulhu Mythos for 5e" id="spcm" value="true"> Sandy Petersen's Cthulhu Mythos for 5e<br>
                            <input type="checkbox" name="The Draconomicon" id="spcm" value="true"> The Draconomicon<br>
                            <input type="checkbox" name="Krakens Gamble" id="kg" value="true"> Kraken's Gamble<br>
                            <input type="checkbox" name="Dungeon of the Mad Mage Companion" id="dotmmc" value="true"> Dungeon of the Mad Mage Companion<br>
                            <input type="checkbox" name="Sane Magical Prices" id="smp" value="true"> Sane Magical Prices<br>
                            <input type="checkbox" name="Valdas Spire of Secrets" id="vsos" value="true"> Valda's Spire of Sercrets<br>
                            <input type="checkbox" name="Monster Manual Expanded" id="mme" value="true"> Monster Manual Expanded - Vol. 1<br>
                            <input type="checkbox" name="Critter Compendium" id="cc" value="true"> Critter Compendium<br>
                            <input type="checkbox" name="Fifth Edition Foes" id="fef" value="true"> Paizo - Fifth Edition Foes<br>
                            <input type="checkbox" name="Kingdoms and Warfare" id="mcdmkaf" value="true"> MCDM - Kingdoms and Warefare<br>
                            <input type="checkbox" name="Tome of Beasts" id="tob" value="true"> Kobold Press - Tome of Beasts 1<br>
                            <input type="checkbox" name="Tome of Beasts 2" id="tob2" value="true"> Kobold Press - Tome of Beasts 2<br>
                            <input type="checkbox" name="Tome of Beasts 3" id="tob3" value="true"> Kobold Press - Tome of Beasts 3<br>
                            <input type="checkbox" name="Tome of Beasts 3 Lairs" id="tob3l" value="true"> Kobold Press - Tome of Beasts 3 - Lairs<br>
                            <input type="checkbox" name="Book of Lairs" id="kpbol" value="true"> Kobold Press - Book of Lairs<br>
                            <input type="checkbox" name="Creature Codex" id="kpcc" value="true"> Kobold Press - Creature Codex<br>
                            <input type="checkbox" name="Prepared" id="prepared" value="true"> Kobold Press - Prepared<br>
                            <input type="checkbox" name="Tome of Heroes" id="kptoh" value="true"> Kobold Press - Tome of Heroes<br>
                            <input type="checkbox" name="Guide to Monsters" id="kpgtm" value="true"> Kobold Press - Guide to Monsters<br>
                        </div>
                    </div>
                </form>
            </content>
        </div>
        <div id="game_notes" class="grid-item">
            <header>
                <h1>Game Notes</h1>
            </header>
            <div style="display:relative">
                <label>Date:</label>
                <span>{{todays_date}}</span>
            </div>
            <div>
                <textarea id="notes" name="notes"></textarea>
            </div>
            <input id="save_notes" type="submit" value="Save">
        </div>
        <div id="previous_notes" class="grid-item">
            <header>
                <h1>Previous Notes</h1>
            </header>
            <div id="notes_most_recent">
                <div style="text-align:center">Select a project in Game Notes to see the most recent notes</div>
            </div>
            <div id="previous_notes_list">
                <div style="text-align:center">Select a project in Game Notes to see previous notes</div>
            </div>
        </div>
        <div id="reminders" class="grid-item">
            <header>
                <h1>Reminders</h1>
            </header>
            <div class="grid-body">
                <div style="position: relative; height: 17px;">
                    <button id="add_npc" onclick="create_reminder()">+ Add Reminder</button>
                </div>
                <div id="reminder_list"><center>Select a project in Game Notes to see the reminders for this game</center></div>
            </div>
        </div>
        <div id="story_board" class="grid-item">
            <header>
                <h1>Story Board</h1>
            </header>
            <div class="grid-body">
                <div style="position: relative; height: 17px;">
                    <button id="add_npc" onclick="create_plot_point()">+ Add Plot Point</button>
                </div>
                <div id="plot_points""><center>Select a project in Game Notes to see the plot points and events for this game</center></div>
            </div>
        </div>
        <div id="npcs" class="grid-item">
            <header>
                <h1>NPCs</h1>
            </header>
            <div class="grid-body">
                <div id="game_names"><center>Select a project in Game Notes to see the NPCs that have been created for this game</center></div>
                <div style="position: relative; height: 17px;">
                    <button id="add_npc" onclick="create_npc()">+ Add NPC</button>
                </div>
                <div id="names"><center>Select a project in Game Notes to see NPCs that can be added to your game</center></div>
            </div>
        </div>
        <div id="locations" class="grid-item">
            <header>
                <h1>Locations</h1>
            </header>
        </div>
        <div id="random_everything" class="grid-item">
            <header>
                <h1>Random Everything</h1>
            </header>
        </div>
        <div id="todo" class="grid-item">
            <header>
                <h1>TODO</h1>
            </header>
            <ul>
            </ul>
        </div>
        <div id="players" class="grid-item">
            <header>
                <h1>Players/Characters</h1>
            </header>
        </div>
    </div>
    <div id="modal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close" onclick="close_modal()">&times;</span>
                <span id="modal-edit" class="edit" style="display: none;">[Edit]</span>
                <span id="modal-delete" class="delete" style="display: none;">[Delete]</span>
                <h2 id="modal-header">Modal Header</h2>
            </div>
            <div class="modal-body" id="modal_content">
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
<script type="text/javascript" src="/static/main.js"></script>
</html>