{% extends "base.html" %}
{% block title %}Forgot Password{% endblock %}
{% block body %}
    <main id="loginscreen">
        <header id="login-title">
            <h1>DM Screen</h1>
        </header>
        <div id="login">
            {% if error %}
                <div class="error">
                    {{ error }}
                </div>
            {% endif %}
            <form method="POST" action="/forgot_2">
                <div>Enter your email address. If you have an account, an email will be sent to you to reset your password.</div>
                <div class="container" style="margin-top:10px">
                    <table>
                        <tr>
                            <td><label for="email"><b>Email</b></label></td>
                            <td><input type="email" placeholder="Enter Email Address" id="email" name="email" required></td>
                        </tr><tr>
                            <td colspan="2">
                                <div><input type="submit" value="Request Reset" style="width:100%"></div>
                            </td>
                        </tr>
                    </table>
                </div>
            </form>
        </div>
    </main>
{% endblock %}