{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block body %}
    <main id="loginscreen">
        <header id="login-title">
            <h1>DM Screen</h1>
        </header>
        <section id="login" class="panel">
            {% if error %}
                <div class="error">
                    {{ error }}
                </div>
            {% endif %}
            {% if message %}
                <div class="message">
                    {{ message }}
                </div>
            {% endif %}
            <form method="POST" action="/login">
                <h3>Login</h3>
                <div class="container">
                    <div class="login-row">
                        <label for="email"><b>Email</b></label>
                        <input type="email" placeholder="Enter Email Address" id="email" name="email" required>
                    </div>
                    <div class="login-row">
                        <label for="psw"><b>Password</b></label>
                        <input type="password" placeholder="Enter Password" id="psw" name="psw" required>
                    </div>
                    <div class="login-row">
                        <label><input id="remember" type="checkbox" checked="checked" name="remember"> Remember me</label>
                        <button type="submit" class="primary">Login</button>
                    </div>
                    <div class="psw login-row"><div></div><a href="/forgot">Forgot password?</a></div>
                    <div class="psw login-row"><div></div><a href="/createaccount">Create Account</a></div>
                </div>
            </form>
        </section>
    </main>
{% endblock %}