{% extends "base.html" %}
{% block title %}Subscriptions{% endblock %}
{% block body %}
    <main id="loginscreen">
        <header id="login-title">
            <h1>DM Screen</h1>
        </header>
        {% if error %}
            <div class="error">
                {{ error }}
            </div>
        {% endif %}
        {% if message %}
            <div class="message">
                {{ message }}
            </div>
        {% endif %}
        <div id="subscriptions">
            <div class="subscription-item" id="subscription-basic">
                <div class="subscription-header">
                    <h2>Basic</h2>
                </div>
                <div class="subscription-body">
                    <div class="subscription-price">
                        <h3>$10.00/month</h3>
                    </div>
                    <div class="subscription-description">
                        <ul>
                            <li>Access to all features</li>
                            <li>Up to 5 campaigns</li>
                            <li>Up to 5 players per campaign</li>
                        </ul>
                    </div>
                    <script async
                    src="https://js.stripe.com/v3/buy-button.js">
                  </script>
                  
                  <stripe-buy-button
                    buy-button-id="buy_btn_1NXbuhIv1yyTRw7n6X1SSYSE"
                    publishable-key="pk_test_5nTmxSh2cFbFCXFlFRLqQV95"
                  >
                  </stripe-buy-button>

                    <!--
                    <div class="subscription-button">
                        <script async
                        src="https://js.stripe.com/v3/buy-button.js">
                      </script>
                      
                      <stripe-buy-button
                        buy-button-id="buy_btn_1NXbmCIv1yyTRw7nYKbWkUjE"
                        publishable-key="pk_live_mkqrUqVyL0SNUggXK2Kzw5sj"
                      >
                      </stripe-buy-button>
                      -->
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}



<body>
    <div>{% if error %}{{ error }}{% endif %}</div>
    <div class="subscriptions">
        <div class="subscription">
            <div class="subscription" id="subscription-basic">

            </div>
        </div>
    </div>
  </body>
</html>