{% extends "base.html" %}
{% block title %}Subscriptions{% endblock %}
{% block body %}
    <main id="loginscreen">
        <div id="login-title">
            <h1>DM Screen</h1>
        </div>
        <div id="login">
            <form method="POST" action="/waitlist">
                <h2>Waitlist</h2>
                <div style="margin-bottom:20px">
                    DMScreen is currently in Early Access, and we are working hard to get it ready for
                    release. If you would like to be notified when it is ready, please enter your email
                    address below.
                </div>
                <div class="container">
                    <table>
                        <tr>
                            <td><label for="email"><b>Email</b></label></td>
                            <td><input type="email" placeholder="Enter Email Address" id="email" name="email" required></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <button type="submit">Join Waitlist</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </form>
        </div>
    </main>
{% endblock %}