body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    background-color:#444;
    color: #fff
}

a {
    text-decoration: none;
    box-sizing: border-box !important;
}

#sortable {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
    margin-top:35px;
}

.grid-item {
    border: 1px solid #ccc;
    text-align: left;
    display: block;
    width: 100%;
    min-height: 100px;
    max-height: 300px;
    overflow: auto;
    header {
        -webkit-user-select: none; /* Chrome/Safari */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+/Edge */
        user-select: none; /* Standard */
        background-color: #333;
        color: #fff;
        padding: 0;
        margin: 0;
        text-align:center;
    }
}

#game-npc-table {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
}

.game-npc-item {
    border: 1px solid #ccc;
    text-align: left;
    display: block;
    width: 100%;
    min-height: 100px;
}

.grid-body {
    position: relative;
}

h1 {
    font-size: 1em;
    margin: 0;
    padding: 0;
}

#chatbox, #notes {
    width: calc(100% - 10px);
    height: 200px;
    border: 1px solid black;
    overflow: auto;
    margin-bottom: 10px;
    background-color: #fff;
    color: #000;
    font-size: 0.9em;
    padding-left: 5px;
}

#question {
    width: calc(100% - 60px);
    margin-bottom: 10px;
}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active, .collapsible:hover {
    background-color: #555;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    color: #000;
}

div.chatmessage.bot {
    background-color: #eee;
    color: #000;
    border-bottom: 1px solid #ccc;
    padding: 3px;
}

input[type=range] {
    vertical-align: middle;
}

input[type=submit] {
    vertical-align: middle;
    width: 40px;
    margin: 0;
    padding: 0;
}

#save_notes {
    width: 100%;
    margin: 0;
    padding: 0;
}

#notes_most_recent, #previous_notes_list, #names, #game_names, div.npc_image, div#plot_points, div#reminder_list {
    min-height: 50px;
    border: 1px solid black;
    overflow: auto;
    margin: 10px;
    background-color: #ccc;
    color: #000;
    font-size: 0.9em;
    padding-left: 5px;
}

#previous_notes_list div.date-focused {
    border: 1px solid white;
    border-radius: 10px;
    background-color: #000;
    color:cornflowerblue;
    padding: 5px;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: calc(100% - 25px);
    height: 80px;
    div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 64px;
        height: 64px;
        margin: 8px;
        border: 8px solid #fff;
        border-radius: 50%;
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: #fff transparent transparent transparent;
        &:nth-child(1) {
            animation-delay: -0.45s;
        }
        &:nth-child(2) {
            animation-delay: -0.3s;
        }
        &:nth-child(3) {
            animation-delay: -0.15s;
        }
    }
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 90%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #444;
    margin: auto;
    padding: 20Wpx;
    border: 1px solid #888;
    width: 80%;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2), 0, 6px 20px rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

.modal-header {
    padding: 2px 16px;
    background-color: #333;
    color: #fff;
}

.modal-body {
    padding: 2px 16px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #333;
    color: #fff;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    &:hover, &:focus {
        color: #fff;
        text-decoration: none;
        cursor: pointer;
    }
}


.edit, .delete, #modal-buttons {
    color: #aaa;
    float: right;
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
    margin-right: 5px;
}

#modal-buttons span {
    padding-left: 5px;
    display: inline-block;
}

.edit:hover,
.edit:focus, .delete:hover,
.delete:focus, #modal-buttons span:hover, #modal-buttons span:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.npc_details {
    width: 50%;
    float: left;
}

.npc_summary {
    width: 45%;
    float: right;
    border: 1px solid #ccc;
    padding: 15px 5px 5px 5px;
    position: relative;
}

div.regen {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 0.5em;
    color: #ccc;
    width: 15px;
    height: 15px;
    background-image: url(/static/img/arrow-rotate-right-solid.svg);
    background-size: contain;
}

img.regen {
    width: 15px;
    height: 15px;
    cursor: pointer;
}

img.regen.spin {
    animation: spin 2s linear infinite;

}

tr.npc:hover {
    background-color: #333;
}

tr.npc td {
    background-color: transparent;
}

button#add_npc, button#add_reminder {
    position: absolute;
    top: 2px;
    right: 10px;
}

table#table_names td.center {
    text-align: center;
}

div.npc_image {
    width: 512px;
    height: 542px;
    float: right;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

img.npc_image {
    width: 512px;
    height: 512px;
}

span.chat_name {
    position: relative;
    display: inline-block;
    text-decoration: underline;
}

div.chat_options {
    /* Show below the container */
    position: absolute;
    display: none;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    padding: 6px 8px;
    z-index: 1;
    top: 20px;
    left: 0;
    font-size: 0.8em;
}

div.chat_option {
    color: black;
    display: block;
    cursor: pointer;
}

nav#toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background-color: #333;
    color: #fff;
    z-index: 1;
    padding-left: 10px;
}

nav#toolbar span.logout, nav#toolbar span.account {
    float: right;
    margin-right: 10px;
    padding-right: 20px;
}

.nav-button {
    display: inline-flex;
    width: 20px;
    height: 20px;
    margin: 5px;
    border: 1px solid #fff;
    text-align: center;
    align-items: center;
    justify-content: center;
    &:hover {
        background-color: blueviolet;
        color: #333;
    }

    &.active {
        background-color: blueviolet;
        color: #333;
    }

    &.off {
        background-color: transparent;
        color: #333;
    }
}

nav#toolbar span a {
    color: #fff;
    text-decoration: none;
}
input {
    &#plot_point_title, &#reminder_title, &#reminder_trigger {
        width: 500px;
    }
}

textarea#plot_point_summary, textarea#reminder_details {
    width: 500px;
    height: 150px;
}

div.plot_point {
    border: 1px solid #000;
    padding: 5px;
    margin: 5px;
    background-color: #fff;
    color: #000;
    font-size: 0.9em;
    width: 100px;
    height: 20px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    .plot_point_hover {
        background-color: blueviolet;
    }
}

div.reminder {
    position: relative;
    border: 1px solid #000;
    padding: 0;
    margin: 2px;
    padding-bottom: 3px;
    background-color: #fff;
    color: #000;
    font-size: 0.9em;
    width: 200px;
    height: 15px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
}

div.reminder_delete {
    position: absolute;
    top: 0;
    right: 0;
    width: 15px;
    height: 15px;
    background-image: url(/static/img/times-solid.svg);
    background-size: contain;
    cursor: pointer;
}

div.reminder_title {
    margin-right: 8px;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

textarea#modal_textarea {
    width: 100%;
    height: 300px;
}

textarea:disabled {
    background-color: #ccc !important;
}

#login {
    /* Center Vertically and Horizontally */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 300px;

    /* Blur the background */
    background-color: rgba(0,0,0,0.4);
    backdrop-filter: blur(5px);
    border-radius: 30px;
    padding: 10px;
}

#loginscreen {
    background-image: url('/static/img/dmscreen_login.png');
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

div#subscriptions {
    padding: 10px;
}

#login-title {
    font-family: 'Lumanosimo', cursive;
    position: absolute;
    top: 10%;
    width: 100%;
    text-align: center;
    font-size: 144px;
}

div.psw {
    background-color: transparent;   
    width: 100%;
    text-align: right;
    a {
        color: white;
        font-size: 14px;
    }
}

div#login div#remember {
    float: right;
}

h2 {
    text-align: center;
    margin: 0;
    padding: 0;
}

div.error {
    background-color: red;
    color: white;
    text-align: center;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
}

#audio_status {
    margin: 5px;
    padding-top: 5px;
}

div.audio_progress {
    width: 100%;
    max-height: 100px;
    background-color: #ccc;
    border-radius: 5px;
    margin-bottom: 5px;
    overflow-y: auto;
    font-size: 12px;
    color: black;
    padding: 2px;
}

.subscription-item {
    background-color: rgba(0,0,0,0.1);
    backdrop-filter: blur(5px);
    border-radius: 30px;
    width: 300px;
    height: 420px;
    float: left;
    margin-right: 5px;
}

.subscription-item.selected {
    border: 2px solid blue;
    background-color: rgba(128, 0, 128, 1);
    .subscription-header {
        background: linear-gradient(to right, rgba(255, 215, 0, 1), rgba(192, 192, 192, 1));
        color: black;
    }
}

.subscription-item:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,0.2);
}

.subscription-body {
    position: relative;
    height: 100%;
    button {
        position: absolute;
        bottom: 45px;
        width: 90%;
        left: 5%;
    }
}

.subscription-button {
    text-align:center;
}

.subscription-price {
    font-size: 1.0em;
    font-weight: bold;
    text-align:center
}

.subscription-header {
    font-size: 1.2em;
    font-weight: bold;
    text-align:center;
    background-color: darkblue;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.subscription-description {
    font-size: 0.9em;
}

main.account {
    height: 100%;
    nav {
        width: 150px;
        height: 100%;
        margin: 0;
        padding: 0;
        padding-left: 5px;
        background-color: #000;
        float: left;
        font-size: 0.9em;
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
    }
}

article#account_article {
    display: block;
    padding-left: 15px;
    float: left;
    width: calc(100%-160px)
    h1 {
        text-align:center;
        font-size: 1.5em;
    }
}

nav#toolbar img {
    width: 15px;
    height: 15px;
    cursor: pointer;
}